.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

@each $key, $value in $colors {
  .bg-#{$key}{
    background-color: $value;
    @if $key == "white" {
      h1, h2{
        color: color("very-dark-grayish");
        font-weight: 600;
      }
      
      p{ 
        color: color("very-dark-grayish");
        font-weight: 500; 
      }
    }
  }
  
  .text-#{$key}{
    color: $value;
  }
}